*{margin: 0; padding: 0;}
body{
	color: #333;
    font-size: 12px;
    text-align: left;
    display: block;
}
div,ul,li{
    list-style: none;
    display: block;
}
a{
   text-decoration: none;
   
}

/* 顶部 */
#top{
    color: #999;
    height: 30px;
    background-color: #f2f2f2;
    .wrap{
        width: 1190px;
        height: 16px;
        line-height: 20px;
        padding-top: 5px;
        margin: auto;
        .left{
			float: left;
			li a{
				color: #999;
			}
			li a:hover {
				color: #d03845;
			}
            .collect{
                float: left;
				width: 90px;
			}
			.line{
				float:left;
				.span{
					color:#c6c6c6;
				}
			}
            .login{
                float: left;
				width: 100px;
				margin-left: 10px;
                a{
                    margin-right:10px;  
				}
				a:hover {
					color: #d03845;
				}
            }
        }
        .right{
            float: right;
            text-align: right;
            li{
				float: left;
				margin-left: 15px;
                a{
                    display: inline-block;
                    padding: 0 5px;
                    color: #999;
				}
				a:hover {
					color: #d03845;
				}
				.img-phone{
					display: none;
					position: absolute;
					top: 26px;
					z-index: 1000;
					right: 70px;
				}
			}
			.phone-img:hover .img-phone{
				display: block;
			}
            .maincart{
				position: relative;
				img{
					display: block;
					margin-top: -1px;
					width: 24px;
					height: 24px;
					margin-right: 2px;
				}
			}
			.phone img{
				margin-top: 3px;
			}
			.customer img{
				margin-top: 4px;
			}
        }
    }
}

/* 广告 */
.ad-banner{
	width: 100%;
	margin-top: 5px;
	a img{
		display: block;
		width: 1190px;
		margin: 0 auto;
	}
}

/* 头部 */
#header{
	margin: 20px auto;
	width: 1190px;
	height: 91px;
	.logo-new{
		float: left;
		width: 230px;
	}
	.search{
		height: 61px;
		float: left;
		padding-top: 30px;
		margin-left: 60px;
		.search-bd{
			width: 650px;
			height: 40px;
			background-color: #c40000;
			margin-bottom: 5px;
			input{
				width: 510px;
				height: 29px;
				line-height: 29px;
				font-size: 14px;
				float: left;
				border: none;
				border-top: 1px solid #c2c0c0;
				border-left: 1px solid #cad7e9;
				padding: 3px 0 3px 6px;
				margin: 2px 0 0 2px;
				color: gray;
			}
			button{
				background-color: #c40000;
				font-weight: bold;
				letter-spacing: 3px;
				color: white;
				width: 131px;
				height: 40px;
				line-height: 40px;
				font-size: 18px;
				text-align: center;
				border: none;
				cursor: pointer;
			}
		}
		.keywords{
			a{
				font-family: '宋体';
				font-size: 14px;
				color: #666;
				margin-right: 5px;
			}
			a:hover {
				color: #d03845;
			}
		} 
	}
}

/* 导航 */
.menu-big{
	width: 100%;
	height: 37px;
	background-color: #dd2727;
	#menu{
		width: 1190px;
		height: 37px;
        margin: auto;
        .double-menu #allsort:hover{
            #allsortlist{
                display: block;
            }
        }
		.double-menu #allsort{
			width: 200px;
			float: left;
			position: relative;
			h2{
				height: 37px;
				line-height: 37px;
				font-size: 14px;
				font-weight: bold;
				display: block;
				overflow: hidden;
				background-color: #c40000;
				a{
					color: white;
					font-size: 14px;
					padding-left: 15px;
					font-family: '宋体';
                }
                span{
                    float: right;
                    width: 20px;
                    padding-right: 5px;
                    color: white;
                    cursor: pointer;
                }                             
            }            
			#allsortlist{
				display: none;
				position: absolute;
				left: 0;
				top: 37px;
				width: 198px;
				background-color: white;
				.lists{
					height: 64px;
					line-height: 26px;
					border-bottom: 1px solid #e8e8e8;
					box-sizing: border-box;
					h3{
						height: 64px;
						padding-left: 15px;
						font-size: 12px;
						font-weight: normal;
						font-family: '宋体';
						position: relative;
						background-position: 0 0;
						b{
							background: url(../../dist/img/index_leftmenu.png) -8px 0 no-repeat;
							width: 39px;
							height: 64px;
							display: inline-block;
							position: absolute;
							left: 0;
							top: 0;
						}
						.lists-contents{
							height: 56px;
							padding-top: 8px;
							margin-left: 32px;
							a{
								color: #333;
								font-size: 14px;
								font-weight: bold;
								font-family: '宋体';
							}							
							.mm{
								height: 22px;
								line-height: 22px;
								font-size: 12px;
								font-weight: normal;
								padding-right: 5px;
								color: #666;
							}
						}
					}					
					.lists-more{
						display: none;
						position: absolute;
						left: 197px;
						top: 0;
						width: 700px;
						border: 1px solid #efefef;
						box-shadow: 1px 1px 10px #999;
						background: white;
						overflow: hidden;
						z-index: 0;
						.xilie{
							width: 700px;
							float: left;
							padding-bottom: 10px;
							min-height: 353px;
							dl{
								clear: both;
								margin: -1px 0 0;
								padding: 10px 0 5px 0;
								color: #333;
								border-bottom: 1px dotted #eee;
								margin-left: 10px;
								width: 98%;
								dt{
									position: relative;
									font-weight: 700;
									padding-left: 10px;
								}
								dd{
									padding-left: 10px;
									line-height: 22px;
									a{
										font-family: '宋体';
										padding-right: 10px;
										display: inline-block;
										margin-right: 15px;
										margin-top: 5px;
										height: 18px;
										line-height: 18px;
										color: #333;
										text-align: left;
										width: auto;
									}
								}
							}
						}
					}
				}
				.i01 h3 b{background-position: -8px 6px;}
				.i02 h3 b{background-position: -8px -54px;}
				.i03 h3 b{background-position: -8px -117px;}
				.i04 h3 b{background-position: -8px -185px;}
				.i05 h3 b{background-position: -8px -248px;}
				.i01:hover .lists-more{display: block; z-index: 1;}
				.i02:hover .lists-more{display: block; z-index: 1;}
				.i03:hover .lists-more{display: block; z-index: 1;}
				.i04:hover .lists-more{display: block; z-index: 1;}
				.i05:hover .lists-more{display: block; z-index: 1;}
				.lists:hover h3{
					position: relative;
					font-family: '宋体';					
					background-color: #efefef;
					box-shadow: 1px 1px 5px #999;
					z-index: 2;
					background-position: 0 -52px;								
				}
			}
		}
		.nav-items{
			width: 985px;
			float: right;
			padding-left: 5px;
			ul li {
				float: left;
				a{
					color: white;
					padding: 0 18px;
					height: 36px;
					line-height: 36px;
					font-size: 14px;
					font-weight: bold;
					cursor: pointer;
					i{
						font-size: 12px;
						font-weight: 400;
						position: relative;
						top: -7px;
						left: -2px;
					}
				}
			}
		}
	}
}

/* 中心 */
.div-center{
	background: url(../../dist/img/bg.jpg) no-repeat scroll top center #fff;
	width: 100%;
	height: 617px;
}